@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 30.12.2015

    placeholder

    fonts

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- fonts --------------- */
@font-face {
    font-family: "appetite_new";
    src: url("../fonts/appetite_new.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
/* --------------- /fonts --------------- */

/* --------------- site --------------- */
.site {
    position: relative;
    min-height: 100%;
    min-width: 1004px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    background: url("../img/bg-header.jpg") no-repeat 50% 0, url("../img/bg-footer.jpg") no-repeat 50% 100%;
    background-size: 100% auto;
    color: #495052;
    z-index: 1;
}
.site a{
    color: #495052;
}
.site:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: 100px;
}
.site__content {
    position: relative;
    width: 1004px;
    margin: 0 auto;
    z-index: 2;
}
.site__header {
    position: relative;
    height: 128px;
    width: 1004px;
    margin: 0 auto;
    padding: 39px 38px 0;
    border-radius: 0 0 10px 10px;
    border: 1px solid #000;
    border-top: none;
    background-color: #fff;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
    z-index: 3;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    text-align: center;
}
.site__footer-layout {
    width: 1004px;
    margin: 0 auto;
    height: inherit;
}
.site__footer-title{
    display: block;
    font: 48px "appetite_new", sans-serif;
}
/* --------------- /site --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    top: 10px;
    left: 35px;
    width: 290px;
    color: #495052;
    font-weight: 200;
}
.logo span{
    display: block;
    margin-left: -4px;
    margin-bottom: 1px;
    font: 36px 'appetite_new', sans-serif;
}
/* --------------- /logo --------------- */

/* --------------- header --------------- */
.header__address{
    position: absolute;
    top: 36px;
    left: 354px;
    width: 358px;
    padding-left: 39px;
    font-style: normal;
}
.header__address a{
    cursor: default;
}
.header__address:before{
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 24px;
    height: 32px;
    background: url("../img/icons-header.png") no-repeat -4px 0;
}
.header__phone{
    position: absolute;
    top: 57px;
    right: 39px;
    font-size: 24px;
    font-weight: 700;
    cursor: default;
}
.header__phone:before{
    content: '';
    position: absolute;
    left: -46px;
    top: -1px;
    width: 31px;
    height: 31px;
    background: url("../img/icons-header.png") no-repeat 0 -43px;
}
/* --------------- /header --------------- */

/* --------------- stock --------------- */
.stock{

}
/* --------------- /stock --------------- */